<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <add key="linkDownload" value="http://d0wn10ad.ngrok.io/telecharger/"/>
      <add key="version" value="0.0.8"/>
    </appSettings>
</configuration>
